<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompanyOfCarInsurance.Properties.Settings.CompStrahOfAutoConnectionString"
            connectionString="Data Source=MYMAGICBULLING\SQLEXPRESS;Initial Catalog=CompStrahOfAuto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CompanyOfCarInsurance.Properties.Settings.dboAllTables"
            connectionString="Data Source=MYMAGICBULLING;Initial Catalog=CompStrahOfAuto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CompanyOfCarInsurance.Properties.Settings.CompStrahOfAutoConnectionString1"
            connectionString="Data Source=DESKTOP-GF9UMVM;Initial Catalog=CompStrahOfAuto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>